//variables//

$celeste: #008fe2;
$azul-oscuro: #2c4167;
$beige: #efefef;
$celeste2: #0383ce;
$azul-oscuro2: #3e5685;
$weight: 100;

//main//
//principal//

.carousel--margin{
    margin-top: 5rem;
    .carousel-inner{
        .carousel-item--height{
            height: 100vh;
            .carousel__img {
                position: absolute;
                top: 0;
                left: 0;
                min-width: 100%;
                height: 100%;
                object-fit: cover;
                filter: brightness(80%);
            }
            .container{
                .carousel-caption--1{
                    bottom: 30rem;
                    z-index: 10;
                    .carousel__h1--1{
                        text-transform: uppercase;
                        font-weight: 600;
                        font-size: 4.5rem;
                        color: white;
                            .carousel__span--color{
                                color: $celeste;
                            }
                    }
                    .carousel__p--1{
                        color: white;
                        font-size: 2rem;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

.carousel-caption--2{
    bottom: 30rem;
    z-index: 10;
    .carousel__h1--2{
        color: white;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 4.5rem;
        .carousel__span--color{
            color: $celeste;
        }
    }
    .carousel__p--2{
        color: white;
        font-size: 2rem;
        font-weight: 700;
    }
}
.carousel-caption--3{
    bottom: 30rem;
    z-index: 10;
    .carousel__h1--3{
        color: white;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 4.5rem;
        .carousel__span--color{
            color: $celeste;
        }
    }
    .carousel__p--3{
        color: white;
        font-size: 2rem;
        font-weight: 700;
    }
}

//bienvenidos//

.bienvenidos{
    text-align: left;
    background-color: white;
    padding-bottom: 3rem;
    .container{
        .row{
            .bienvenidos__h2{
                padding-top: 2rem;
                font-size: 3.6rem;
                padding-left: 0;
            }
        }
        .row{
            .bienvenidos__p{
                display: flex;
                align-items: center;
            }
            .bienvenidos__img{
                padding-bottom: 2rem;
            }
        }
        .row{
            .bienvenidos__h3{
                font-size: 2.5rem;
                grid-area: titulo2;
                margin-bottom: 2rem;
            }
        }
    }
    .boton__bienvenidos{
        margin: 0 auto;
        margin-top: 3rem;
        border: 0.2rem solid $azul-oscuro;
        border-radius: 5rem;
        background-color: #008fe2;
        padding: 1rem 0;
        width: fit-content;
        .boton__bienvenidos__a{
            text-decoration: none;
            color: white;
            padding: 1rem 2rem;
        }
    }
}
.boton__bienvenidos:hover{
    background-color: $celeste2;
}

//especialistas//

.section__especialistas{
    background-color: $azul-oscuro;
    height: 100%;
    padding-bottom: 4rem;
    .especialistas__h2{
        text-align: center;
        padding: 3rem 0;
        font-weight: 600;
        font-size: 3.6rem;
        color: white;
    }
    .section__especialidades{
        .container{
            .row{
                .col-md-4{
                    .especialidades{
                        display: flex;
                        flex-direction: column;
                        padding-bottom: 2rem;
                        background-color: $celeste;
                        border: 0.3rem solid black;
                        .especialidades__div{
                            .especialistas__img{
                                margin: 0 auto;
                                padding-bottom: 2rem;
                                
                            }
                            .especialistas__span{
                                color: white;
                                padding: 0 2.5rem;
                                font-size: 2rem;
                                font-weight: bold;
                            }
                            .especialistas__span2{
                                color: white;
                                padding-top: 1rem;
                                padding: 0 2.5rem;
                                font-size: 2rem;
                            }
                            .especialistas__p{
                                color: white;
                                font-size: 1.5rem;
                                line-height: 3rem;
                                margin-top: 1rem;
                                padding: 0 2.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
//servicios//

.section__servicios{
    .container{
        .row{
            .servicios__h2{
                text-align: center;
                padding: 3rem 0;
                font-weight: 600;
                font-size: 3.6rem;
            }
        }
        .row{
            .servicios{
                display: flex;
                .servicios__img{
                    width: 5rem;
                    height: 5rem;
                    min-width: 5rem;
                }
                .servicios__div{
                    display: flex;
                    flex-direction: column;
                    margin-left: 2.5rem;
                    .servicios__span{
                        color: $celeste;
                        font-weight: bold;
                        font-size: 1.8em;
                    }
                    .servicios__p{
                        margin-top: 1.5rem;
                    }
                }
            }
        }
    }
    .boton__servicios{
        margin: 5rem auto;
        border: 0.2rem solid $azul-oscuro;
        border-radius: 5rem;
        background-color: #008fe2;
        padding: 1rem 0;
        width: fit-content;
        .boton__servicios__a{
            text-decoration: none;
            color: white;
            padding: 1rem 2rem;
        }
    }
}
.boton__servicios:hover{
    background-color: $celeste2;
}

//plan//

.section__plan{
    text-align: center;
    height: 80vh;
    display: flex;
    align-items: center;
    .container{
        .row{
            .plan__h2{
                text-transform: uppercase;
                font-weight: 600;
                font-size: 4rem;
                color: white;
                .plan__h2--color{
                    color: $celeste;
                }
            }
        }
        .row{
            .plan__p{
                color: white;
                margin-bottom: 2.5rem;
                font-size: 1.5rem;
                font-weight: 700;
                .plan__span--color{
                    color: $celeste;
                }
            }
        }
    }
}
.section__plan--fondo{
    background-image: url(../imagenes/fondo2.jpg);
    background-size: cover;
    position: relative;
}
//Contacto//

//mapa//

.ubicacion{
    .iframe{
        height: 100vh;
        width: 100%;
    }
    .ubicacion__h2{
        text-align: center;
        padding: 1rem 0;
        font-weight: 600;
        font-size: 2.6rem;
    }
}

//redes e informacion//

.informacion__div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .redes{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .redes__h3{
            font-size: 2.5rem;
            margin-bottom: 1rem;
            color: $celeste;
            font-weight: bold;
        }
        .redes__a{
            text-decoration: none;
            color: black;
            .redes__span{
                font-size: 1.6rem;
            }
        }
    }
    .informacion{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .informacion__h3{
            font-size: 2.5rem;
            margin-bottom: 1rem;
            color: $celeste;
            font-weight: bold;
        }
        
        .informacion__span{
            font-size: 1.6rem;
            margin-bottom: 1rem;
        }
    }
}
//formulario//


.contacto__fieldset{
    display: flex;
    flex-direction: column;
    legend{
        font-size: 2.5rem;
    }
    label{
        font-size: 1.6rem;
    }
    input{
        font-size: 1.6rem;
        margin: 1rem 0;
    }
    select{
        font-size: 1.6rem;
        margin: 1rem 0;
    }
    textarea{
        height: 25rem;
    }
}
.boton__limpiar, .boton__enviar{
    background-color: $celeste;
    color: white;
}
.boton__limpiar:hover, .boton__enviar:hover{
    background-color: $celeste2;
}
#email{
    margin-bottom: 0;
}
.check__container{
    display: flex;
}
.form-text{
    font-size: 1.1rem;
}

//nosotros.html//

//sobre nosotros//

.bienvenidos__p1{
    margin-top: 5rem;
}
.bienvenidos__img--margin{
    margin-top: 5rem;
}

//galeria//

.themed-grid-col {
    padding-top: .25rem;
    padding-bottom: .25rem;
}

.themed-container {
    padding: .25rem;
    margin-bottom: 5rem;
}

#nosotros{
    background-color: white;
}

.nosotros__contenedor{
    padding-bottom: 8rem;
    .nosotros__h2{
        text-align: center;
        padding: 3rem 0;
        font-weight: $weight*6;
        font-size: 3.6rem;
    }
}

//opiniones//

.section__opiniones{
    text-align: center;
    height: 80vh;
    display: flex;
    align-items: center;
    .container{
        .row{
            .opiniones__h2{
                text-transform: uppercase;
                font-weight: 600;
                font-size: 4.6rem;
                color: white;
                .opiniones__h2--color{
                    color: $celeste;
                }
            }
            .opiniones__h3{
                color: white;
                margin: 0 auto;
                margin-bottom: 5rem;
                font-size: 2rem;
            }
        }
    }
}
.section__opiniones--fondo{
    background-image: url(../imagenes/opiniones.jpg);
    background-size: cover;
    position: relative;
}
#carousel__nosotros{
    max-width: 80rem;
}
.carousel-item{
    .familia__span{
        color: white;
        font-size: 2rem;
    }
    .familia__div{
        margin-top: 3rem;
        .familia__span2{
            color: white;
            font-size: 2rem;
        }
    }
}

//especialidades.html//


//portada//

.especialistas__portada{
    height: 80vh;
    margin-top: 5rem;
    text-align: center;
    .portada__img{
        object-position: top;
        filter: brightness(80%);
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(80%);
    }
}

.carousel-caption{
    bottom: 30rem;
    z-index: 10;
    .portada__h1{
        text-transform: uppercase;
        font-weight: $weight*6;
        font-size: 4.5rem;
        color: white;
    }
    .portada__p{
        color: white;
        font-size: 2rem;
        font-weight: $weight*7;
        .carousel__span--color{
            color: $celeste;
        }
    }
}

//especialistas//

.section__especialidades{
    background-color: $azul-oscuro;
    padding-bottom: 8rem;
    .especialidades__h2{
        text-align: center;
        padding: 3rem 0;
        font-weight: $weight*6;
        font-size: 3.6rem;
        color: white;
    }
}

.especialidades{
    background-color: #008fe2;
    border: 4px solid black;
    .especialidades__img{
        margin-bottom: 1.5rem;
    }
    .especialidades__div{
        display: flex;
        flex-direction: column;
        .especialidades__span{
            color: white;
            font-size: 3rem;
            font-weight: bold;
            margin-left: 3rem;
        }
        .especialidades__span--2{
            color: white;
            font-size: 2rem;
            font-weight: bold;
            margin-left: 3rem;
        }
        .especialidades__p{
            color: white;
            margin: 2rem 3rem;
        }
        .especialidades__span--3{
            color: white;
            font-size: 2rem;
            margin-left: 3rem;
        }
        .boton__especialidades{
            background-color: $azul-oscuro;
            text-align: center;
            align-self: center;
            margin: 1.5rem 0;
            border-color: black;
        }
    }
}
.boton__especialidades:hover{
    background-color: $azul-oscuro2;
}

//Centro Medico Varela en numeros//

.numeros__section{
    background-color: $celeste;
    padding-top: 14rem;
    padding-bottom: 14rem;
    background-image: url(../imagenes/fondonumeros.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    .container{
        height: 70%;
        .numeros__h2{
            text-align: center;
            color: white;
            font-size: 3rem;
            margin-bottom: 2rem;
        }
        .row{
            .feature{
                text-align: center;
                margin-bottom: 5rem;
                .feature-icon{
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    width: 4rem;
                    height: 4rem;
                    margin-bottom: 1rem;
                    font-size: 2rem;
                    color: #fff;
                    border-radius: .75rem;
                    .numeros__img{
                        max-width: 200%;
                    }
                }
                .numeros__span{
                    margin-top: 1rem;
                    color: white;
                    font-size: 6rem;
                }
                .numeros__p{
                    color: white;
                    font-size: 2rem;
                }
            }
        }
    }
}

//Servicos Medicos//

.medicos__section{
    background-color: $azul-oscuro;
    padding-bottom: 8rem;
    .medicos__h2{
        text-align: center;
        padding: 3rem 0;
        font-weight: $weight*6;
        font-size: 3.6rem;
        color: white;
        
    }
    .container{
        .row{
            .col-md-6{
                .especialidades{
                    .especialidades__div{
                        .medicos__span{
                            color: white;
                            font-size: 3rem;
                            padding: 0 1.5rem;
                            padding-top: 1.5rem;
                        }
                        .medicos__p{
                            color: white;
                            padding: 1.5rem;
                        }
                    }
                }
            }
        }
    }
}

//planes.html//

.planes__span{
    color: $celeste;
}

.planes--fondo{
    background-image: url(../imagenes/planesdesalud.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

//beneficios//
#beneficios{
    background-color: white;
}
.beneficios__h2{
    text-align: center;
    padding: 3rem 0;
    font-weight: 600;
    font-size: 3.6rem;
}
.beneficios{
    display: flex;
    .beneficios__img{
        width: 5rem;
        height: 5rem;
    }
    .beneficios__div{
        display: flex;
        flex-direction: column;
        margin-left: 2.5rem;
        .beneficios__span{
            color: $celeste;
            font-weight: bold;
            font-size: 1.8em;
        }
        .beneficios__p{
            margin-top: 1.5rem;
        }
    }
}

//salud//

.salud__section{
    .salud__h2{
        text-align: center;
        font-size: 3.6rem;
        margin: 5rem 0;
    }
}
.salud{
    display: flex;
    flex-direction: column;
    background-color: $azul-oscuro;
    text-align: center;
    border-radius: 0.5em;
    border: 3px solid black;
    margin-left: 15px;
    margin-right: 15px;
    .salud__div{
        display: flex;
        flex-direction: column;
    }
    .salud__h3{
        font-size: 2.5rem;
        color: white;
        margin: 2rem;
    }
    .salud__p{
        color: white;
        margin-bottom: 2rem;
    }
    .salud__span{
        color: white;
        margin-bottom: 2rem;
        font-size: 3.6rem;
        font-weight: bold;
    }
    .salud__span2{
        color: white;
        font-size: 1.8rem;
        margin: 0 2rem;
        margin-bottom: 2rem;
    }
    .boton__salud{
        margin: 2rem 0;
        width: fit-content;
        align-self: center;
        border: 2px solid black;
    }
    
}
//turnos.html//

#turnos{
    background-color: white;
    .turnos__planes{
        margin-top: 8rem;
        .turnos{
            text-align: center;
            height: 80vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .turnos__h1{
                font-size: 4.2rem;
                font-weight: bold;
                text-transform: uppercase;
                color: white;
                .planes__span{
                    color: $celeste;
                }
            }
            .turnos__p{
                color: white;
                font-weight: bold;
            }
        }
    }
}
.turnos--fondo{
    background-image: url(../imagenes/planesdesalud.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section__form{
    margin-top: 5rem;
}
.turnos__div{
    margin-top: 5rem;
}
.div__boton--tamaño{
    width: 30rem;
}
.turnos__input{
    font-size: 1.8rem;
}
.turnos__label{
    font-size: 1.8rem;
}
.turnos__small{
    font-size: 1.2rem;
}
.turnos__boton{
    font-size: 1.8rem;
    margin-bottom: 4rem;
}
.container {
    max-width: 114rem;
}
.lh-condensed { 
    line-height: 1.25; 
}

.col-md-6, .mb-3{
    padding-left: 0;
}