//carousel//

@media only screen and (max-width: 590px){
    .carousel-caption--2{
        bottom: 30rem;
        .carousel__h1--2{
            color: white;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 3.5rem;
        }
    }
    .carousel-caption--3{
        bottom: 25rem;
        .carousel__h1--3{
            color: white;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 3.5rem;
        }
    }
}

@media only screen and (max-width: 374px){
    .carousel-caption--2{
        bottom: 25rem;
        .carousel__h1--2{
            color: white;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 2.5rem;
        }
    }
    .carousel-caption--3{
        bottom: 20rem;
        .carousel__h1--3{
            color: white;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 2.5rem;
        }
    }
}
@media only screen and (max-width: 280px){
    .carousel-caption--2{
        bottom: 30rem;
        .carousel__h1--2{
            color: white;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 2.5rem;
        }
    }
    .carousel-caption--3{
        bottom: 25rem;
        .carousel__h1--3{
            color: white;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 2.5rem;
        }
    }
}
@media only screen and (max-width: 540px){
    .carousel-inner{
        .carousel-item{
            .container{
                .carousel-caption{
                    bottom: 17rem;
                    .portada__h1{
                        font-size: 3.5rem;
                        }
                        .portada__p{
                            font-size: 2rem;
                        }
                }
            }
        }
    }
}
@media only screen and (max-width: 320px){
    .carousel-inner{
        .carousel-item{
            .container{
                .carousel-caption{
                    bottom: 17rem;
                    .portada__h1{
                        font-size: 2.5rem;
                        }
                        .portada__p{
                            font-size: 1.5rem;
                        }
                }
            }
        }
    }
}
@media only screen and (max-width: 280px){
    .carousel-inner{
        .carousel-item{
            .container{
                .carousel-caption{
                    bottom: 17rem;
                    .portada__h1{
                        font-size: 2.5rem;
                        }
                        .portada__p{
                            font-size: 1.5rem;
                        }
                }
            }
        }
    }
}

//nosotros.html//

@media only screen and (max-width: 540px){
    .section__opiniones{
        text-align: center;
        height: 80vh;
        display: flex;
        align-items: center;
        .container{
            .row{
                .opiniones__h2{
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 3rem;
                    color: white;
                    .opiniones__h2--color{
                        color: $celeste;
                    }
                }
                .opiniones__h3{
                    color: white;
                    margin: 0 auto;
                    margin-bottom: 5rem;
                    font-size: 1.5rem;
                }
            }
        }
    }
    .carousel-item{
        .familia__span{
            color: white;
            font-size: 1.5rem;
        }
        .familia__div{
            margin-top: 3rem;
            .familia__span2{
                color: white;
                font-size: 1.5rem;
            }
        }
    }
}

//especialistas.html//

@media only screen and (max-width: 768px){
    #carousel-item{
        display: block;
        transition: none;
        float: none;
    }
    #especialidades2{
        display: none;
        transition: none;
        float: none;
    }
    #especialidades3{
        display: none;
        transition: none;
        float: none;
    }
    .carousel-control-prev{
        display: none;
    }
    .carousel-control-next{
        display: none;
    }
    .especialistas--transicion{
        transition: none;
    }
    .especialistas--transicion:hover{
        transform: none;
    }
}

//turnos.html//

@media only screen and (max-width: 768px){
    .col-md-6, .mb-3{
        padding-left: 0;
        padding-right: 0;
    }
}